<div class="iframe-container">
    <iframe
       src="https://beeg.com/-0187928718303621"
        frameborder="0"
        scrolling="no"
        allowfullscreen>
    </iframe>
</div>

<style>
.iframe-container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    padding-top: 56.25%; /* نسبة 16:9 */
    margin: auto;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
