.ContB {width:500px;}

.Pelement{width:750px; font-size:18px; color:#ffe135;}
.Apelem{ color:#ffbf00; }
.potitle{width:950px; font-size:25px; color:#ff91af ;}
.potitle2 {width:950px; font-size:25px; color:red ;}
.PCont{width:880px;font-size:22px; color:#fe6f5e;}

.Mandy { float:; border-radius: 35px; margin-left:250px; }

.Middle{}